<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.apple.developer.associated-domains</key>
	<array>
		<string>applinks:otonaritodo.page.link/dynamic_link</string>
		<string>applinks:otonari-todo-app.haw-mana.com</string>
		<string>applinks:otonaritodo.page.link</string>
	</array>
</dict>
</plist>
